<title>Login Form</title>

<div class="login-container">
  <h2>Tạo sản phẩm</h2>
  <form method="post">
    <input type="text" name="name" placeholder="Tên sản phẩm" />
    <input type="number" name="price" placeholder="Giá tiền" />
    <input type="submit" id="submit" value="Thêm" />
  </form>
</div>